.header {
  position: fixed;
  height: 60px;
  display: flex;
  padding: 0 20px;
  font-family: 'Inter', sans-serif;
  background: #ffffff;
  transition: margin-left 0.4s ease-in-out;
  margin-left: 50px;
  top: 0;
  width: calc(99% - 50px);
  z-index: 99;
}

.header.shifted {
  margin-left: 150px; /* expanded sidebar width */
}

.header-title {
  font-size: 24px;
  font-weight: 700;
  background: linear-gradient(90deg, #EE2626, #B41818);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text; /* fallback for modern browsers */
  color: transparent;
  position: relative;
  bottom: -14px;
}

.marcom-profile-icon-container{
  position: fixed;
  right: 50px;
  top: 24px;
  z-index: 2;
  cursor: pointer;
}

.session-email {
  font-size: 14px;
  color: #616161;      /* light gray, adjust as needed */
  font-weight: 500;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 200px; /* prevent overflow */
}


